.entete{
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

img{
    width: 20%;
}

ul{
    display: flex;
    padding-left: 0%;
}

.perso img{
    padding-left: 4%;

}

li{
    list-style-type: none;
    padding-left: 0%;
    gap: 10%;
}

.logo{
    width: 20%;
    text-align: center;
    padding-top: 20px;
}

.perso{
    border-top: solid 12px white;
    border-bottom: solid 12px white;
    background-image: url(images/WallpaperDog.jpg);
    background-size: cover;
    background-position: center;
}

header{
    background-image: url(images/fancy-pants.jpg);
    background-size: cover;
    background-position: top;
}

.text{
    background-image: url(images/fancy-pants.jpg);
    background-size: cover;
    background-position: bottom;
    color: white;
    padding: 5%;
    text-align: center;
    font-family: 'Playpen Sans';

}

.menu h2{
    color: orange;
}

.menu{
    display: flex;
    width: 95%;
    margin: 3%;
}

.welcome img{
    width: 70%;
}

footer{
    background-image: url(images/WallpaperDog.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}

.fin{
    display: flex;
    justify-content: space-between;
}

.fin h2{
    font-size: 1.5em;
}

.flexible iframe{
    border-radius: 3%;
}

.work{
    margin-right: 5%;
}

.perso img{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
    padding: 0;
    margin: 2.3%;
}

.work{
    margin-bottom: 30% ;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

li{
    font-size: 2em;
}

.contact{
    padding-left: 2%;
}

.WIDGETHER{
    padding-right: 2%;
    text-align: center;
}

.WIDGETHER img{
   padding: 30px;
}


.fin h2{
    font-size: 15px;
}

.email{
    display: flex;
    flex-direction: column;
}

.textarea{
    display: flex;
    flex-direction: column;
}

label{
    padding-bottom: 5px;
    padding-top: 5px;
}

input{
    margin-top: 5px;
    border-radius: 5px;
    height: 20px;
    background-color: white;
    color: black;
}

textarea{
    border-radius: 5px;
}

.ulfirst ul{
    display: flex;
    flex-direction: column
}

.listes{
    display: flex;
    font-size: 10px;
    gap: 35px;
    font-family: 'Playpen Sans';
}

.ulprincipale1 li{
    border-bottom:5px solid red;
    font-size: 3em;
}

.ulprincipale2 li{
    border-bottom:5px solid lightblue;
    font-size: 3em;
}

.ulprincipale3 li{
    border-bottom:5px solid red;
    font-size: 3em;
}

.ulprincipale4 li{
    border-bottom:5px solid lightblue;
    font-size: 3em;
}

.ulfirst li{
    font-size: 1.5em;
}

.ulprincipale1 a{
    text-decoration: none;
    color: white;
}

.ulprincipale2 a{
    text-decoration: none;
    color: white;
}

.ulprincipale3 a{
    text-decoration: none;
    color: white;
}

.ulprincipale4 a{
    text-decoration: none;
    color: white;
}